@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
    --cor0: #2756AE;
    --cor1: #FD3E3C;
    --cor2: #fff;
}
.nav-link {
    font-size: 25px !important;
    color: var(--cor1) !important;
    border-radius: 7px !important;
    font-weight: 770 !important;
    margin-right: 30px ;
    letter-spacing: 4px;
}
.nav-link:hover {
    text-shadow: rgba(124, 17, 17, 0.596) 5px 5px 10px;
    transition: 1s;
}
li#rel {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
li span {
    display: block;
    font-size: 6.5rem;
    font-family: 'Oswald', sans-serif;
    
}
.class-text {
    color: var(--cor2);
    text-shadow: 2px 2px 1px var(--cor1);
    font-weight: bold;
}
.matches {
    
    height: 200px;
    display: flex;
    display: flex;
    justify-content: space-around;
}
.match {
    background-color: rgba(75, 23, 23, 0.212);
    margin: 15px;
    height: auto;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.resumo {
    text-decoration: none;
    color: white;
}
.resumo:hover {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 1px var(--cor0);
}