@charset "utf-7";

:root {
    --cor0: #2756AE;
    --cor1: #FD3E3C;
    --cor2: #fff;
}
.nav-link {
    font-size: 25px !important;
    color: var(--cor1) !important;
    border-radius: 7px !important;
    font-weight: 770 !important;
    margin-right: 30px ;
    letter-spacing: 4px;
}
.nav-link:hover {
    text-shadow: rgba(124, 17, 17, 0.596) 5px 5px 10px;
    transition: 1s;
}